<?php $this->yellow->layout("about-header") ?>
<div class="content h-entry">
<div class="main e-content" role="main">
<!-- !-->
<div class="about-header h-card">
    <img class="me u-photo" src="https://f005.backblazeb2.com/file/lifeofpablo/pabs-cropped.jpg" alt="picture of Pablo" />
    <!-- Title -->
    <h1><a class="u-url u-uid" href="https://lifeofpablo.com"><span class="p-name"><?php echo $this->yellow->page->getHtml("titleContent") ?></span></a></h1> 

    <div class="sucess box">
    Follow me on:
    <br>
   <!-- Mastodon -->
   <a class="button button-mastodon u-url" href="https://social.lifeofpablo.com" target="_blank" rel="me noopener">
    <i class="fa-brands fa-mastodon"></i> Mastodon</a>
    <!-- Other Links -->
        <a class="button button-coffee" href="/linkinbio" target="_blank" rel="noopener">
            <i class="fa-solid fa-up-right-from-square"></i> Other Links</a>

  </div>
   <div class="p-note" markdown="1">

Hey, I'm Pablo and I'm based in Sacramento. I work in IT in an educational setting. I really enjoy working with technology and improve technology use in education.
   </div>
</div>
    
      
    </div>
<?php echo $this->yellow->page->getContent() ?>
</div>
</div>
<?php $this->yellow->layout("footer") ?>
