<?php $this->yellow->layout("about-header") ?>
<div class="content h-entry">
<div class="main e-content" role="main">
<!-- !-->
<div class="about-header h-card">
    <img class="me u-photo" src="https://f005.backblazeb2.com/file/lifeofpablo/pabs-cropped.jpg" alt="picture of Pablo" />
    <!-- Title -->
 
<div class="wrapper">
	    <div class="typing-demo">
	    </div>
</div>
    
      
    </div>
<?php echo $this->yellow->page->getContent() ?>
</div>
</div>
<?php $this->yellow->layout("footer") ?>
